%p#notice= notice
%p
  %b Name:
  = @event.name
%p
  %b Desc:
  = @event.desc
%p
  %b Location:
  = @event.address + " " + @event.city + ", " + @event.state

%p
  %b Attendees
  = "There are #{@event.attendance} people going to this event."

%p
  - if @event.attendance > 0
    %table
      %tr
        %th Name
        %th
      - @event.attendees.each do |attendee|
        - if attendee.name
          %tr
            %td= attendee.name
            %td= link_to 'Not Going', [@event, attendee], confirm: "Are you sure you don't want to go? It's going to be fun!", method: :delete, class: 'btn-mini btn-danger'


%p
  = form_for [@event, @attendee] do |f|
    = f.label :name
    = f.text_field :name

    %br
    = f.submit 'Register for this event'

= link_to 'Edit', edit_event_path(@event)
|
= link_to 'Back', events_path
