<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <tH>Date</th>
    <th>Desc</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.date %></td>
    <td><%= event.desc %></td>
    <td><%= "#{event.street} #{event.city} #{event.state}" %></td>
    <td><%= link_to 'Show', event, class: 'btn btn-mini' %></td>
    <td><%= link_to 'Edit', edit_event_path(event), class: 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %>
