<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @event.desc %>
</p>

<p>
  <b>Location:</b>
  <%= @event.street + " " + @event.city + ", " + @event.state %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
